@import "./colors";

.header {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  background-color: $jet;
  .header__links {
    display: flex;
    flex: 0.1;
    justify-content: space-evenly;
    color: white;
  }
  h3 {
    margin: 0 5px;
    font-weight: 300;
  }
}
